<h2>My Heroes</h2>
<div>
  <table>
    <tr>
      <td><label>Hero name:</label> </td>
      <td><input #heroName /> </td>
    </tr>
    <tr>
      <td><label>Hero age:</label> </td>
      <td><input #heroAge /> </td>
      <button (click)="add(heroName.value, heroAge.value); heroName.value='';  heroAge.value='' ">
        Add
      </button>
    </tr>
  </table>
</div>

  <ul class="heroes">
    <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)" style="width: 120%">
      <span class="badge">{{hero.id}}</span> {{hero.name}} 
      
      <span class="badge2">Age: {{hero.age}}</span>
      
      <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>

    </li>
  </ul>
  <div *ngIf="selectedHero">
    <h2>
      {{selectedHero.name | uppercase}} is my hero
    </h2>
    <button (click)="gotoDetail()">View Details</button>
  </div>