<div>
  <table>
     <tr>
       <img src="/assets/inter_big_logo.gif" >
      <h2>mit.ITU login</h2>
     </tr>
    <tr>
      <td><input #email placeholder="Brugernavn" /> </td>
    </tr>
    <tr>
      <td><input #password  placeholder="Adgangskode" /> </td>
    </tr>
    <tr>
      <br>
      <div class="container">
      <button (click)="add(email.value, password.value); email.value='';  password.value='' " type="button" style="width:160px;">
        Login
      </button>
      </div>
    </tr>
  </table>
</div>

