<table align="center" style="max-width:300px"> 
<tr  align="center">
       <img src="http://gyring.org/ITU_logo_DK.jpg" > 
     </tr>
     <tr  align="center">
      <h2>mit.ITU login</h2>
     </tr>
</table>
  <table table class="mdl-data-table mdl-js-data-table" align="center" style="max-width:400px">
    <tr>
      <td><input #email placeholder="Brugernavn" /> </td>
    </tr>
    <tr>
      <td><input #password  placeholder="Adgangskode" /> </td>
    </tr>
    <tr style="height: 10px"> </tr>
    <tr>
      <td><button (click)="add(email.value, password.value); email.value='';  password.value=''" 
      class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Login
      </button>
      </td>
    </tr>
  </table>

