  <table align="center" style="max-width:400px;">
     <tr  align="center">
       <img src="http://gyring.org/ITU_logo_DK.jpg" > 
     </tr>
     <tr >
      <h2>mit.ITU login</h2>
     </tr>
    <tr>
      <td><input #email placeholder="Brugernavn" /> </td>
    </tr>
    <tr>
      <td><input #password  placeholder="Adgangskode" /> </td>
    </tr>
    <tr style="height: 10px"> </tr>
    <tr>

      <div style="background-color: black">
      <button (click)="add(email.value, password.value); email.value='';  password.value='' " type="button">
      </button>
      </div>
    </tr>
  </table>

