<h4>Vi har matchet følgende studerende med dinne kriterier:</h4>
  <ul class="student">
    <li *ngFor="let student of students"
      [class.selected]="student === selectedStudent"
      (click)="onSelect(student)">
      {{student.name}} 
    </li>
  </ul>
  <div *ngIf="selectedStudent">
    <h4>
      {{selectedStudent.name}} er valgt
    </h4>
    <button (click)="goBack()">Tilbage</button>
    <button (click)="gotoDetail()">Vis detaljer</button>
  </div>
  <div *ngIf="!selectedStudent">
    <button (click)="goBack()">Tilbage</button>
  </div>