<div *ngIf="student"> 
  <h4 align="center">{{student.name}}</h4>
<table class="mdl-data-table mdl-js-data-table" align="center" style="max-width:400px">     
      <tr>
      <td>ID:</td> <td>{{student.id}} </td>
    </tr>
    <tr>
      <td>Køn:</td><td><div *ngIf="student.gender === 'm'">Mand</div><div *ngIf="student.gender === 'w'">Kvinde</div></td>
    </tr>
    <tr>
      <td>Email:</td> <td>{{student.email}} <a href="mailto:{{student.email}}?Subject=Speciale" target="_top">Send Mail</a> </td>
    </tr>
    <tr>
      <td>Alder:</td> <td>{{student.age}} </td>
    </tr>
    <tr>
      <td>Vil skrive med:</td> <td><div *ngIf="student.gender_pref === 'm'">Mand</div><div *ngIf="gender_pref === 'w'">Kvinde</div><div *ngIf="student.gender_pref === 'mw'">Mand / Kvinde</div></td>
    </tr>
    <tr>
      <td>Speciale emner:</td> <td>{{student.topic1}} {{student.topic2}} {{student.topic3}} {{student.topic4}} {{student.topic5}}</td>
    </tr>
    <tr>
       <td colspan="2" align="left">
         Speciale ide:
         <br>
         <textarea [(ngModel)]="student.thises_description" rows="5" cols="35" disabled=true></textarea>
       </td>
    </tr>
     <tr>
       <td colspan="2" align="left">
         Om {{student.name}}:
         <br>
         <textarea [(ngModel)]="student.personal_description" rows="5" cols="35" disabled=true></textarea>
       </td>
    </tr>
    </table>
<table align="center">
<tr>
    <td >    
        <button (click)="goBack();"
              class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Tilbage</button>   
    </td>
  </tr>   
     
</table>
</div>
