
 <table class="mdl-data-table mdl-js-data-table" align="center" style="max-width:400px">     
<div *ngIf="student">
  <h4>Vælg din Studieretning</h4> 
  <input class="mdl-radio mdl-js-radio" type="radio" value="Software" [(ngModel)]="student.line">Software
  <input class="mdl-radio mdl-js-radio" type="radio" value="Design" [(ngModel)]="student.line">Design
  <input class="mdl-radio mdl-js-radio" type="radio" value="Business" [(ngModel)]="student.line">Business
</div>
<div>
    <button (click)="save();" 
          class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Næste
          </button>
</div>
</table>