<div *ngIf="student">
    <h4>{{student.name}}</h4>
  <table>
    <tr>
      <td>ID:</td> <td>{{student.id}} </td>
    </tr>
    <tr>
      <td>Køn:</td><td><div *ngIf="student.gender === 'm'">Mand</div><div *ngIf="student.gender === 'w'">Kvinde</div></td>
    </tr>
    <tr>
      <td>Email:</td> <td>{{student.email}} <a href="mailto:{{student.email}}?Subject=Speciale" target="_top">Send Mail</a> </td>
    </tr>
    <tr>
      <td>Alder:</td> <td>{{student.age}} </td>
    </tr>
    <tr>
      <td>Vil skrive med:</td> <td><div *ngIf="student.gender_pref === 'm'">Mand</div><div *ngIf="gender_pref === 'w'">Kvinde</div><div *ngIf="student.gender_pref === 'mw'">Mand / Kvinde</div></td>
    </tr>
    <tr>
      <td>Speciale emner:</td> <td>{{student.topic1}} {{student.topic2}} {{student.topic3}} {{student.topic4}} {{student.topic5}}</td>
    </tr>
    <tr>
      <td>Speciale ide:</td> <td>{{student.thises_description}}</td>
    </tr>
     <tr>
      <td>Om {{student.name}}</td> <td>{{student.personal_description}}</td>
    </tr>
  </table>
  <button (click)="goBack()">Back</button>
</div>
