<h4 align="center">Hvilke speciale emner kunne interesserer dig?</h4> 
<p align="center">(Skriv gerne flere emner i korte termer)</p>
<div *ngIf="student"> 
<table class="mdl-data-table mdl-js-data-table" align="center" style="max-width:400px">     
      
      <tr>
            <td colspan="2">
                  <input [(ngModel)]="student.topic1" placeholder="Emne 1" />
            </td>  
      </tr>
      <tr>
            <td colspan="2">
                  <input [(ngModel)]="student.topic2" placeholder="Emne 2" />
            </td>  
      </tr>   
      <tr>
            <td colspan="2">
                  <input [(ngModel)]="student.topic3" placeholder="Emne 3" />
            </td>  
      </tr>   
      <tr>
            <td colspan="2">
                  <input [(ngModel)]="student.topic4" placeholder="Emne 4" />
            </td>  
      </tr>   
      <tr>
            <td colspan="2">
                  <input [(ngModel)]="student.topic5" placeholder="Emne 5" />
            </td>  
      </tr>       

      <tr>
            <td>    
                  <button (click)="goBack();" 
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Tilbage</button>   
            </td><td>
                  <button (click)="save();" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Næste</button>
            </td>
      </tr>   
     
</table>
</div>